@model IEnumerable<Vidley.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<div class="col-md-8">

    <ul>
        @foreach(var movies in Model)
        {
            <li>
                @Html.ActionLink(movies.Name, "Details", "Movies", new { id = movies.Id }, null));
            </li>
        }

    </ul>
</div>
